<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block header %}
      {% include "encabezado.html" %}
    {% endblock %}
    {% block cuerpo %}
    {% endblock %}
    {% block ventana %}
    {% endblock %}
    {% block footer %}
      {% include "pie.html" %}
    {% endblock %}
  </body>
</html>
