html {
    min-width: 900px;
}

body {
    font: Helvetica;
   	background: white;
}

h1 {
    font-size:calc(1em + 2vw);
}

h2 {
    font-size:calc(1em + 1vw);
}

.listado {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3.5fr repeat(4, 1fr);
    grid-gap: 2px;
    background-color: #2196F3;
    padding: 2px;
}

.elemento {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 5px 0;
}

 
#cuerpo {
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
    width: 100%;
    font-size:calc(1em + 0.3vw);
    display: block;
    height: 30%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


img {
    max-width: 150px;
    padding: 5px;
}


div p {
    color: whitesmoke;
    line-height: 0.5em;
}


.salto{
    display: contents;
 
}
.salto:hover>div {
    background-color: rgb(153, 160, 88);
}

 